[submodule "a-star"]
	path = a-star
	url = https://github.com/UncleCam98/a-star
[submodule "hand-recognition"]
	path = hand-recognition
	url = https://github.com/UncleCam98/hand-recognition
[submodule "fish"]
	path = fish
	url = https://github.com/UncleCam98/fish
[submodule "ros2-communication"]
	path = ros2-communication
	url = https://github.com/UncleCam98/ros2-communication
